

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden ;
}


/*===================================MENU==============================*/

#menu  li > a {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#menu form > button {
 font-size: 18px;
 font-weight: bold;  
}

.carousel-inner {
    max-height: 39rem;
    
}

.container-fluid {

  background-color:#becc05;
  text-align: center ;
}

.contenedor-1{
  background-color: black;
  text-align: center;
 
}

.contenedor-2 {

  display: flex;
  align-items: center;
  
}

.contenedor-3 {

  background-color: #ee7025;
  text-align:left;

}


.contenedor-4 {

 
  align-items:center;
  background-color: black;


}





.text {

  align-items:center;
  
}

 .circulo1 {
  float:right;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50px;

}

.circulo2 {

  
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50px;
}

/*===================================SERVICES ==============================

* * {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

section {


  width: 700px;
  padding: 40px;
  background: rgb(218, 213, 213);
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

summary {

  background-color: white;
  color: black;
  padding: 10px;
  list-style:none;
  cursor: pointer;
  

}

summary::before {

  content: "+";
  font-size: 20px;
  padding-right: 1rem;
}
details[open] summary::before{
  content: "-";
}

p {

  padding: 10px;
  
 

}
h1  {

  background-color: #ee7025;
  border-bottom: 1px solid black;

}

.h1{

  background-color: #ee7025;
  border: 1px solid black;
  
  
}

div{

 
  border: 1px solid;

}

.cuadro2 {

  border: 1px solid;
}*/













/*===================================MEDIA QUERIES PANTALLA ==============================*/
@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
    
}